*{
  padding: 0;
  margin: 0;
}
#score
{
  font-size:160%;
  color:white;
  font-family: ‘Courier New’, Courier, monospace;
  text-decoration: none;
  background-color: black;
}
#score2
{
  font-size:160%;
  color:white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  background-color: black;
}
#button
{
  color:black;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  background-color: red;
}

#button:hover {
  font-size: 120%;
    color:white;
    background-color:green;
}
